<app-container-padrao titulo="Produtos">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descricao</th>
        <th scope="col">Valor</th>
        <th scope="col">Opções</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produto of produtos">
        <th>{{produto.id}}</th>
        <td>{{produto.nome}}</td>
        <td>{{produto.desc}}</td>
        <td>{{produto.valor | currency:'BRL':true}}</td>
        <td>
          <button class="btn btn-danger btn-sm mr-2">Remover</button>
          <button class="btn btn-primary btn-sm">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</app-container-padrao>